body {
  box-sizing: border-box;
  background-image: radial-gradient(white, black);
}

h1 {
  text-align: center;
}
.bannerDiv {
  text-align: center;
  border: 1px solid black;
  min-height: 90px;
  width: 70%;
  margin: auto auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playBoard {
  width: 100%;
  text-align: center;
}

#canvas {
  background-color: #346b31;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-width: 20px;
  border-style: solid;
  border-image: url(/assets/borderImage.jpg) stretch 100;
}

.enterInfo {
  background-image: url(/assets/inputBackground.jpg);
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-size: cover;
}

.enterInfoHeaderDiv {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50vw;
  margin: 10vh auto;
  border-radius: 20px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.6);
}

.enterInfo h3 {
  color: white;
  font-size: 3rem;
}

.enterInfo h4 {
  color: white;
  font-size: 2rem;
}

.usernameInputDiv {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  margin: 0 auto;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0;
}

#usernameInput {
  height: 40px;
  width: 360px;
  border-style: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline-width: 0;
  padding: 0;
  font-size: 1rem;
}
#usernameButton {
  height: 40px;
  border-style: none;
  background-color: #999;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  width: 120px;
  margin: 0;
  padding: 0;
  border-width: 0;
}

.hidden {
  display: none;
}

.restartDiv {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 300px;
  height: 200px;
  transform: translate(-50%, -50%);
  border: solid black;
  z-index: 10;
  background-image: url(./assets/blackboardTexture.jpg);
  box-shadow: 0 0 20px 10px black;
  border-radius: 10px;
  background-size: cover;
  color: white;
}

.restartButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnRematch {
  border: none;
  cursor: pointer;
  width: 40%;
  height: 50px;
  margin: 5px;
  background-color: #346b31;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.btnRematch:hover {
  background-color: #489244;
}

.btnDisconnect {
  border: none;
  cursor: pointer;
  width: 40%;
  height: 50px;
  margin: 5px;
  background-color: #cc3010;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.btnDisconnect:hover {
  background-color: #9b240d;
}

.blurFilter {
  filter: blur(3px);
}
